<ul
    id="NavMenu"
    class="flex-col flex-1 hidden w-full gap-6 py-8 text-xl font-semibold lg:flex-row lg:gap-8 lg:items-center lg:py-0 lg:flex lg:justify-end">
    <li class="lg:sr-only"><a href="/">Home</a></li>
    <li class="relative">
      <a href="/about" data-menu-trigger>About</a>
      <ul
        data-menu-list
        class="flex-col hidden gap-6 px-4 py-2 mt-2 border-l-4 border-ice-cream-purple lg:absolute lg:top-full lg:border-4 lg:bg-white lg:left-1/2 lg:translate-x-[-50%] lg:w-[24ch] lg:p-6 rounded font-medium">
        <li><a href="/about/" role="menuitem">About DjangoCon US</a></li>
        <li><a href="/about/tickets/" role="menuitem">Tickets</a></li>
        <li><a href="/about/faq/" role="menuitem">FAQ</a></li>
        <li><a href="/about/conduct/" role="menuitem">Code of Conduct</a></li>
        <li><a href="/about/public-health/" role="menuitem">Public Health</a></li>
        <li><a href="/about/opportunity-grants/" role="menuitem">Opportunity Grants</a></li>
        <li><a href="/about/visas/" role="menuitem">Visa Support</a></li>
        <li><a href="/about/organizers/" role="menuitem">Organizers</a></li>
      </ul>
    </li>
    {% comment %}<li><a href="/schedule/">Schedule</a></li>{% endcomment %}
    <li><a href="/venue/">Venue</a></li>
    <li class="relative">
      <a href="/speaking/" data-menu-trigger>Speaking</a>
      <ul
        data-menu-list
        class="flex-col hidden gap-6 px-4 py-2 mt-2 border-l-4 border-ice-cream-purple lg:absolute lg:top-full lg:border-4 lg:bg-white lg:left-1/2 lg:translate-x-[-50%] lg:w-[26ch] lg:p-6 rounded font-medium">
        <li><a href="/speaking/">Speaking at DjangoCon US</a></li>
        <li><a href="/speaking/speaker-resources/">Speaker Resources</a></li>
      </ul>
    </li>
    <li class="relative">
      <a href="/sponsors/" data-menu-trigger>Sponsors</a>
      <ul
        data-menu-list
        class="flex-col hidden gap-6 px-4 py-2 mt-2 border-l-4 border-ice-cream-purple lg:absolute lg:top-full lg:border-4 lg:bg-white lg:left-1/2 lg:translate-x-[-50%] lg:w-[24ch] lg:p-6 rounded font-medium">
        <li><a href="/sponsors/">Our Sponsors</a></li>
        <li><a href="/sponsors/information/">Sponsorship Prospectus</a></li>
      </ul>
    </li>
    <li><a href="/news/">News</a></li>
    <li><a href="{{ site.ticket_link }}" class="button bg-mosaic-blue">Buy Tickets</a></li>
  </ul>
