<li class="flex flex-wrap gap-6">
  <figure>
    <img
      src="{{ place.data.photo }}"
      alt="Photo of {{ place.data.name }}"
      class="w-full media"
    />
  </figure>

  <div class="lg:flex-1">
    <h3 class="text-lg font-semibold lg:text-xl">
      <a href="{{ place.data.website }}" target="_blank" class="reverse-link">{{ place.data.name }}</a>
    </h3>
    <dl class="space-y-3">
      <dt class="sr-only">Distance:</dt>
      <dd>🚶🏻 <span class="font-medium">{{ place.data.distance }}</span></dd>

      <dt class="sr-only">Address:</dt>
      <dd>
        📍
        <a href="{{ place.data.map }}" target="_blank" class="reverse-link">{{ place.data.location }}</a>
      </dd>

      <dt class="sr-only">Website:</dt>
      <dd>
        <a
          href="{{ place.data.website }}"
          target="_blank"
          class="font-bold link">Visit website</a>
      </dd>
    </dl>

    <div class="mt-4">
      {{ place.content | markdown }}
    </div>
  </div>
</li>
