.button {
  @apply relative inline-flex items-center justify-center px-4 py-2 rounded-md;
  @apply border-2;
  @apply font-semibold text-base !no-underline;

  border-color: var(--theme-text-color);

  /* THEME-X */
  @apply border-b-4 border-r-4;


  background: linear-gradient(to bottom, transparent 50%, theme('colors.carolina-yellow') 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: all .125s ease-out;
}


.button:hover {
  background-position: bottom;
}


.button-group {
  @apply flex flex-wrap gap-4;
}
