<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta name="author" content="DjangoCon US" />
  <meta name="description" content="{{ meta.description }}" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:description" content="{{ meta.description }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="DjangoCon US" />
  <meta property="og:image" content="{{ site.domain }}/assets/img/social/share.jpg" />
  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:image" content="{{ site.domain }}/assets/img/social/share.jpg" />
  <meta property="twitter:title" content="Organizers" />
  <meta name="twitter:site" content="@djangocon" />
  <meta name="twitter:creator" content="@DjangoCon US" />

  <meta property="fb:app_id" content="280981518972848" />

  <link href="/assets/favicons/favicon.ico" rel=icon type="image/x-icon">
  <link href="/assets/favicons/favicon.png" rel=icon type="image/png">
  <link href="/assets/favicons/apple-touch-icon.png" rel="apple-touch-icon-precomposed">

  <title>{{ title }}</title>

  {% comment %}
    THEME-X - Adjust fonts to theme
  {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  <header id="SiteHeader" class="fixed top-0 w-full py-4 bg-white lg:py-6 lg:relative">
    <div class="wrapper">
      <nav class="flex flex-wrap">
        <div class="flex items-center justify-between w-full lg:max-w-max">
          <a
            href="/"
            aria-label="Go to homepage">
            <img src="/assets/img/logo.svg" alt="DjangoCon US" class="h-12 lg:h-20">
          </a>
          <button id="NavToggler" class="lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <span class="sr-only">Toggle navigation</span>
          </button>
        </div>

        {% include 'nav.html' %}
      </nav>
    </div>
  </header>

  <main id="SiteMain" class="flex-1 pt-[80px] lg:pt-0 lg:block">
    {%- block content -%}
      {{- content -}}
    {%- endblock -%}
  </main>

  <footer id="SiteFooter" class="py-20 text-white bg-black">
    <div class="container mx-auto ">
      <div class="grid gap-8 px-4 place-items-center">
        <ul class="flex flex-wrap gap-8">
          <li>
            <a class="mastodon" href="https://fosstodon.org/@djangocon">
              <svg class="w-8 h-8 icon">
                <title>Mastodon</title>
                <use xlink:href="#mastodon-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/djangocon">
              <svg class="w-8 h-8 icon">
                <title>Twitter</title>
                <use xlink:href="#twitter-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="github" href="https://github.com/djangocon/">
              <svg class="w-8 h-8 icon">
                <title>Github</title>
                <use xlink:href="#github-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="facebook" href="https://www.facebook.com/djangoconus/">
              <svg class="w-8 h-8 icon">
                <title>Facebook</title>
                <use xlink:href="#facebook-icon"></use>
              </svg>
            </a>
          </li>
        </ul>

        <p class="text-center lg:text-xl">
          <strong>
            Got questions? We can help:
            <a
              href="mailto:{{site.contact_us_email}}" class="link">{{site.contact_us_email}}</a>
          </strong>
        </p>
        <small class="text-sm text-center">
          &copy; {% year %} DjangoCon US
          · Design by <a href="http://yupgup.com/" class="link" target="_blank">YupGup</a>
          · Presented by <a href="https://www.defna.org/" class="link" target="_blank">DEFNA</a>
          · <a href="/colophon/" class="link">Colophon</a>
        </small>
      </div>
    </div>
  </footer>

  {%- comment -%}
    Social icons added as sprite
  {%- endcomment -%}
  {%- include 'social-icons.html' -%}

  <script src="/assets/js/main.js"></script>
</body>
</html>
