@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.grid-cols-123 {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
}

.organizer-photo {
  display: block;
  object-fit: cover;
  object-position: top center;
  aspect-ratio: 1 / 1;
  width: 100%;
}
